.image-1{
    background-image: url(photos/pic-1.webp);
    height: 100vh;
}
.center{
    position: relative;
    top:35%;
}










/* hover start */

.hover-1:hover{
    background-color:#533204 !important;
}

/* hover end */ 